.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    border-bottom: 0.1rem solid black;
    height: 3rem;
}

.collection-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 102%;
    border-left: 0.1rem solid black;
    font-size: 0.8rem;
}

.filters{
    display: grid;
    grid-template-columns: 25% 25% 50%;
    height: 102%;
    border-left: 0.1rem solid black;
}

.filter-name{
    font-weight: 100;
}

.filter-name_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 102%;
    border-right: 0.1rem solid black;
    cursor: pointer;
}

.color-filter{
    position: relative;
    display: inline-block;
}
.color-filter-items{
    display: none;
    position: absolute;
    background-color: white;
    width: 20rem;
    height: 5rem;
    margin: -0.01rem 0rem  0rem -0.1rem;
    padding: 0.3rem 0 0 1rem;
    z-index: 1;
    border-right: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
}

.color-filter:hover .color-filter-items{
    display: block;  
}


.shape-filter{
    position: relative;
    display: inline-block;
}

.shape-filter-items{
    display: none;
    position: absolute;
    background-color: white;
    width: 20rem;
    height: 5rem;
    margin: -0.01rem 0rem  0rem -0.06rem;
    padding-left: 1.5rem;
    z-index: 1;
    border: 0.1rem solid black;
    border-top: unset;
}

.color-filter-items-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.shape-filter:hover .shape-filter-items{
    display: flex; 
    align-items: center;
}
.shape-filter-items-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.shape-filter-items-list li, .color-filter-items-list li{
    background-color: unset;
    cursor: pointer;
}
.shape-filter-items-list li:hover, .color-filter-items-list li:hover{
    text-decoration: underline;
}

/************* Media queries (medium devices) ************/
@media screen and (max-width : 1200px) {
    .shape-filter-items-list{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .shape-filter-items{
        width: 10rem;
        height: 15rem;
    }
    
}
@media screen and (max-width : 960px) {
    .collection-name{
        font-size: 0.6rem;
    }
    .filters{
        grid-template-columns: 35% 35% 30%;  
    }
    .color-filter-items-list, .shape-filter-items-list{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .color-filter-items, .shape-filter-items{
        width: 10rem;
        height: 15rem;
        border-left: 0.1rem solid black;
    }
    
}
/************* Media queries (small devices) ************/
@media screen and (max-width : 660px) {
    .header{
        grid-template-columns: repeat(1, 1fr);
        height: 5rem;
    }
    .filters{
        grid-template-columns: 50% 50% 0%; 
        border-top: 0.1rem solid black; 
    }
    .collection-name{
        font-size: 0.8rem;
    } 
    .color-filter-items, .shape-filter-items{
        margin-top: 0.03rem;
    }
}


